# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.dylib
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
venv/
env/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg

# Scm
dragonglass/_version.py

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff
.ruff_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
